@import "fonts.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
:root {
  --body-bg: rgba(4, 13, 31, 1);
  --main-color: rgba(237, 142, 0, 1);
  --text: #fff;
  --text-btn: #000;
}
body {
  background: var(--body-bg);
  font-family: Comfortaa;
}
.ads {
  background: linear-gradient(
    90deg,
    rgba(56, 0, 175, 1),
    rgba(191, 114, 4, 1) 92%,
    rgba(194, 117, 0, 1),
    rgba(194, 117, 0, 1)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  padding: 20px 0;
}
.ads > span {
  color: #fff;
  width: 166px;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.nav {
  background: rgba(1, 3, 5, 0.8);
  padding: 29px 0;
  position: relative;
  z-index: 1;
}
.nav::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(15px);
  z-index: -1;
}
.nav__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: #fff;
  text-transform: uppercase;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__link {
  color: var(--text);
  padding: 0 15px;
  position: relative;
  font-family: Montserrat;
  font-size: 14px;
}
.nav__link:hover {
  color: var(--main-color);
}
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -42px;
  height: 2px;
  width: 0;
  transition: 0.3s;
  background: var(--main-color);
}
.nav__link:hover::after {
  width: 100%;
}
.menu-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  border: none;
  background: transparent;
}
.menu-line {
  background: #fff;
  width: 100%;
  height: 2px;
  transition: 0.3s;
}
.menu-btn::before,
.menu-btn::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}
.menu-btn:focus > .menu-line {
  opacity: 0;
}
.menu-btn:focus::before {
  transform: translateY(9px) rotate(45deg);
}
.menu-btn:focus::after {
  transform: translateY(-9px) rotate(-45deg);
}
.header {
  height: 750px;
  background: url(../images/header-bg.jpg) no-repeat center / cover;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 15, 25, 0.75);
  z-index: -1;
}
.header__title {
  font-family: Montserrat;
  font-size: 64px;
  line-height: 120%;
  margin-bottom: 30px;
  color: var(--text);
}
.header__text {
  color: rgba(200, 200, 200, 1);
  font-family: Montserrat;
  margin-bottom: 50px;
  max-width: 570px;
  line-height: 24px;
  text-align: justify;
}
.header__buttons {
  display: flex;
  column-gap: 30px;
  align-items: center;
}
.btn {
  width: 166px;
  padding: 17px 0;
  cursor: pointer;
  background: var(--main-color);
  border: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  transition: 0.3s;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  color: #000;
}
.btn::before,
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: var(--body-bg);
  transition: 0.3s;
  z-index: -1;
}
.btn::after {
  left: unset;
  right: 0;
}

.btn:hover {
  color: var(--text);
}
.btn:hover::before,
.btn:hover::after {
  width: 50%;
}
.films {
  margin-top: 60px;
  padding-bottom: 77px;
}
.section-title {
  color: var(--main-color);
  text-transform: capitalize;
  font-size: 36px;
  line-height: 40px;
  position: relative;
  width: max-content;
}
.section-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 2px;
  background: var(--main-color);
  width: 100%;
}
.films__title {
  margin-bottom: 66px;
}
.films__item {
  position: relative;
  width: 255px;
  height: 366px;
  border-radius: 6px;
  overflow: hidden;
}
.films__item-inner {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding: 18px 15px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(241, 129, 40, 0.35) 0%,
    rgba(0, 0, 0, 0.71) 51.04%,
    rgba(7, 15, 25, 0.8) 100%
  );
  color: var(--text);
}
.films__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.play-icon {
  transition: 0.3s;
}
.films__time {
  border: 1px solid #fff;
  border-radius: 9px;
  padding: 7px 27px;
  font-family: Montserrat;
  background: #070f1933;
  font-size: 14px;
  line-height: 10px;
  margin-top: 12px;
  margin-bottom: 30px;
  transition: 0.3s;
}
.films__name {
  font-family: Montserrat;
  font-weight: 400;
  margin-bottom: 12px;
}
.films__text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 21px;
}
.films__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
.films__item:hover .films__time {
  transform: scale(0);
}
.films__item:hover .play-icon {
  transform: scale(1.5) translateY(15px);
}
.films__item:hover .films__img {
  transform: scale(1.5);
}
.premier {
  padding-top: 42px;
  padding-bottom: 80px;
  background: linear-gradient(
    90deg,
    #def7ff 0%,
    #f4fcff 55.64%,
    rgba(255, 255, 255, 0) 100.72%
  );
  position: relative;
  overflow: hidden;
}
.premier__video {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.premier__img {
  margin-bottom: 51px;
}
.premier__text {
  font-family: Roboto;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 55px;
  text-align: justify;
  max-width: 558px;
  width: 100%;
}

.collections {
  padding-top: 61px;
  padding-bottom: 63px;
}
.collections__title {
  margin-bottom: 63px;
}
.collections__item {
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  width: 350px;
  height: 192px;
}
.collections__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    270deg,
    rgba(7, 15, 25, 0.56) 0%,
    rgba(49, 114, 9, 0.56) 100%
  );
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
  color: #fff;
}
.collections__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}
.collections__item::before,
.collections__item::after {
  content: url(../images/line.svg);
  position: absolute;
  top: 8px;
  left: 6px;
  z-index: 2;
  transition: 0.3s;
}
.collections__item::after {
  left: unset;
  right: 6px;
}
.collections__content {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}
.collections__item:hover .collections__img {
  transform: scale(1.4);
}
.collections__name {
  transition: 0.3s;
  font-size: 20px;
}
.collections__item:hover .collections__name {
  transform: scale(0);
}
.collections__item:hover .play-icon {
  transform: scale(1.5) translateY(15px);
}
.collections__item:hover::before {
  transform: translateY(-105%);
}
.collections__item:hover::after {
  transform: translateY(105%);
}

.series__title {
  margin-bottom: 66px;
}
.series__item {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  min-height: 183px;
}
.series__inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    95.68deg,
    rgba(35, 35, 35, 0.8) 0%,
    rgba(11, 11, 11, 0.6) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  row-gap: 20px;
  padding: 0 22px;
}
.series__inner-title {
  font-size: 40px;
  line-height: 44px;
}
.series__inner-text {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
.series__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.series__grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 183px);
  gap: 30px;
}
.series__item:nth-of-type(1) {
 grid-column: 1 / span 4;
 grid-row: 1 / span 2;
}
.series__item:nth-of-type(2) {
grid-column: 1 / span 2;
grid-row: 3 / span 2;
}
.series{
  padding-bottom: 62px;
}
/* footer */
.footer{
  background: linear-gradient(90deg, #ff8c30 0%, #9f4700 100%);
  padding: 24px 0;
}
.footer__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__list{
  display: flex;
  align-items: center;
  column-gap: 50px;
}
.footer__text{
  font-size: 18px;
  color: var(--text);
}
